/* your global css here */

body,
h1{
  font-family: 'Raleway', sans-serif;
}
body,
html  {
  height: 100%;
}
.bgimg {
  background-image: url('/img/forestbridge.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
main .w3-border-grey {
  margin: auto;
  width: 40%;
}
